// Stylesheet by Thanawan Pinlaem http://zbframe.com 2019-05-21

// colours
$header_bar_top: #ffdddd;
$header_bar_bottom: #ffffff;
$btn_light: #ffdddd;
$btn_light_text: #333333;
$btn_dark: #000000;
$btn_dark_text: #ffffff;
$testimonial_bg: #ffdddd;
$footer_bg: #2f2b2c;
$nav_top: #ffffff;
$social_bg: #ffdddd;


// text
$text_light: #ffffff;
$title_line1: #dadbdd;
$title_dark: #231f20;
$title_light: #ffffff;
$section_heading: #dadbdd;
$text_link: #333333;
$text_link_hover: #999999;
$copyright: #ffffff;
$footer_link: #ffdddd;
$footer_link_hover: #ffdddd;
$quote: #ffdddd;
$bullet: #ffdddd;;






// Mixins
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin float-left {
  float: left !important;
}

@mixin float-right {
  float: right !important;
}

@mixin float-none {
  float: none !important;
}

// Buttons
button{
	&:focus{
		outline: none !important;
		box-shadow: none !important;
	}
}

.btn{
	text-transform: uppercase;
	padding: 0.375rem 1.7rem;
}

.btn--light{
	background-color: $btn_light;
	border: solid 3px $btn_light;
	color: $btn_light_text;
	@include border-radii(0px, 0px, 0px, 0px);

	&:hover, &.active{
		background-color: transparent;
		border: solid 3px $btn_light;
		color: $btn_light;
	}

	&:focus{
		outline: none;
	}
}

.btn--dark{
	background-color: $btn_dark;
	border: solid 3px $btn_dark;
	color: $btn_dark_text;
	@include border-radii(0px, 0px, 0px, 0px);

	&:hover, &.active{
		background-color: transparent;
		border: solid 3px $btn_dark;
		color: $btn_dark;
	}

	&:focus{
		outline: none;
	}
}


body{
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
	font-size: 16px;
	color: #333;

	&::-webkit-scrollbar-track{
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar{
		width: 10px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb{
		background-color: #000000;
	}
}


// header
header{
	// background-color: $header_bar_top;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
	width: 100%;

	.header__top{
		background-color: $header_bar_top;

		.navbar{
			padding: 0.5rem 0rem;

			.nav__item{
				margin-right: 1rem;

				span{
					margin-left: 0.5rem;
				}
			}

			.header__top__link{
				color: $text_link;
				transition: all 0.3s ease;

				&:hover{
					color: $text_link_hover;
					text-decoration: none;
				}
			}
		}	
	}

	.header__bottom{
		background-color: $header_bar_top;

		.navbar{
			padding: 0rem;

			.navbar__brand{
				img{
					height: 50px;
				}
			}

			.navbar-nav{
				.header__bottom__link{
					font-size: 1.25rem;
					text-transform: uppercase;
					padding-left: 1rem;
					padding-right: 1rem;
					color: $text_link;

					&:hover{
						color: $text_link_hover;
						text-decoration: none;
					}
				}
			}
		}
	}
}

// section heading
.section__heading{
	margin-bottom: 40px;
	text-align: center;

	.subtitle{
		color: $section_heading;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 0px;

		&:before{
		    content: "";
		    display: inline-block;
		    position: relative;
		    top: -7px;
		    width: 50px;
		    height: 3px;
		    margin-right: 10px;
		    background: $section_heading;
		}

		&:after{
		    content: "";
		    display: inline-block;
		    position: relative;
		    top: -7px;
		    width: 50px;
		    height: 3px;
		    margin-left: 10px;
		    background: $section_heading;
		}
		
		&.light{
			color: $text_light;

			&:before, &:after{
				background: $text_light;
			}
		}
	}

	h2{
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: 0.5px;
		text-transform: uppercase;

		&.heading--light{
			color: $text_light;
		}
	}
}



// banner
.banner__wrapper{
	height: 100vh;
	position: relative;

	.banner{
		.banner__item{
			position: relative;
		}

		.banner__item1{
			background-image: url('../img/banner/banner1.jpg');
			background-size: cover;
			background-position: center center;
    		height: 100vh;
		}

		.banner__item2{
			background-image: url('../img/banner/banner2.jpg');
			background-size: cover;
			background-position: center center;
    		height: 100vh;
		}

		.carousel-inner{
			height: 100vh;
		}

		.banner__caption{
			width: 100%;
		    text-align: center;
		    vertical-align: middle;
		    position: absolute;
		    z-index: 3;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    padding: 1rem;

			h1{
				font-size: 3rem;
			}

			.button__box{
				margin-top: 60px;
			}
		}

		.carousel-indicators{
			bottom: 8vh;
			left: unset;
			right: 0%;
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}

	.banner--overlay{
		width: 100%;
		height: 100%;
		left: 0%;
		top: 0%;
		position: absolute;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.2);
		pointer-events: none;
	}

	&:after{
	    position: absolute;
	    content: "";
	    z-index: -1;
	    left: 0;
	    top: auto;
	    bottom: 0px;
	    right: auto;
	    z-index: 2;
	    width: 100%;
	    height: 70px;
	    background: url('../img/img_edge.png');
	    background-size: cover;
	}
}


// about us
.aboutus__wrapper{
	padding: 50px 0px;

	.aboutus__image{
		order: 2;
		-webkit-order: 2;
	}

	.aboutus__detail{
		background-image: url('../img/dog_paw.png');
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 325px 256px;
		order: 1;
		-webkit-order: 1;
		p:not(.subtitle){
			text-indent: 3rem;
		}
	}
}

// services
.service__wrapper{
	padding: 50px 0px;
	background-image: url('../img/service_bg.jpg');
	background-size: cover;

	.service__card{
		background-color: #ffffff;
		padding: 20px;
		margin: 15px 0px;

		.service__img{

		}

		.service__detail{
			margin-top: 10px;

			h1{
				font-size: 1rem;
				font-weight: bold;
				text-transform: capitalize;
			}
			p{
				margin-bottom: 0px;
			}
		}
	}
}


// gallery
.gallery__wrapper{
	padding: 50px 0px;

	.gallery__box{

		figure{
			position: relative;

			.gallery--overlay{
				width: 100%;
				height: 100%;
				position: absolute;
			    left: 0px;
			    top: 0px;
			    transition: all 0.3s ease;
			    pointer-events: none;

			    i{
			    	text-align: center;
				    vertical-align: middle;
				    position: absolute;
				    z-index: 3;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%, -50%);
				    opacity: 0;
				    transition: all 0.3s ease;
			    }
			}

			&:hover{
				cursor: pointer;

				.gallery--overlay{
					background-color: rgba(255, 221, 221, 0.8);

					i{
						opacity: 1;
					}
				}
			}
		}
	}
}

.gallery__modal{
	.carousel-item{
		height: 199px;

		img{
			height: 100%;
		}
	}
}

// testimonial
.testimonial__wrapper{
	padding: 50px 0px;
	background-color: $testimonial_bg;

	.tesimonial__list{
		.tesimonial__card{
			text-align: center;

			.testimonial__image{
				width: 100%;
				height: auto;
				margin: 0px auto 40px auto;
			}

			.testimonial__detail{
				width: 100%;
				margin: 0 auto;
				padding: 20px;

				strong{
					display: block;
					margin-bottom: 20px;
				}
			}
		}
	}

	.owl-carousel{
		.owl-nav{
			position: absolute;
		    width: 100%;
		    top: 50%;

			button{
				&.owl-next, &.owl-prev{
					font-size: 4rem;
					color: $text_light;
					margin: 0px;
					transition: all 0.3s ease;

					&:hover{
						background-color: unset;
						color: #dadbdd;
					}

					span{
						display: none;
					}
				}

				&.owl-next{
					position: absolute;
					right: 0%;

					&:before{
						font-family: "Font Awesome 5 Free";
					    content: "\f054";
					    display: inline-block;
					    padding-right: 3px;
					    vertical-align: middle;
					    font-weight: 900;
					}
				}

				&.owl-prev{
					position: absolute;
					left: 0%;

					&:before{
						font-family: "Font Awesome 5 Free";
					    content: "\f053";
					    display: inline-block;
					    padding-right: 3px;
					    vertical-align: middle;
					    font-weight: 900;
					}
				}

				&.owl-dot{

				}
			}
		}
	}

	.owl-theme{
		.owl-dots{
			.owl-dot{
				span{
					width: 20px;
					height: 20px;
					background-color: #ffffff;
				}

				&:hover, &.active{
					span{
						background-color: #333333;	
					}
				}
			}
		}
	}
}


// blog
.blog__wrapper{
	padding: 50px 0px;
	background-image: url('../img/dog_paw.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 445px 360px;

	.blog__card{
		margin-top: 20px;

		a{
			display: block;
			text-decoration: none;

			figure{
				position: relative;
				opacity: 1;
				transition: all 0.3s ease;
			}

			.blog__detail{
				margin-top: 2rem;

				h3{
					font-size: 1rem;
					font-weight: bold;
					color: $text_link;
					transition: all 0.3s ease;
				}

				p{
					color: $text_link;
					transition: all 0.3s ease;
				}
			}

			&:hover{
				h3, p{
					color: $text_link_hover;
				}

				figure{
					opacity: 0.8;
				}
			}
		}
	}

	.button__box{
		text-align: right;
		margin-top: 40px;
	}
}


// contact
.contact__wrapper{
	padding: 50px 0px;
	background-image: url('../img/service_bg.jpg');
	background-size: cover;

	.contact__detail{
		h1{
			font-size: 1rem;
			font-weight: bold;
			text-transform: capitalize;
			margin-bottom: 2rem;
		}

		p{
			a{
				color: $text_link;

				&:hover{
					text-decoration: none;
					color: $text_link_hover;
				}
			}

			span, a{
				margin-left: 1rem;
			}
		}

	}

	.contact__form{
		.form-row{
			margin-bottom: 1rem;
		}

		input{
			@include border-radii(0px, 0px, 0px, 0px);
			border: none;
		}

		textarea{
			@include border-radii(0px, 0px, 0px, 0px);
			border: none;
			resize: none;
		}

		.button__box{
			text-align: right;
			margin-top: 30px;
		}
	}
}


// footer
.nav--top{
	width: 60px;
	height: 60px;
	background-color: $footer_bg;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	opacity: 0;
	transition: all 0.3s ease;

	&.active{
		opacity: 1;
	}

	.nav--top__link{
		width: 100%;
		height: 100%;
		color: $nav_top;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    text-decoration: none;
	}
}

footer{
	padding-top: 48px;
	padding-bottom: 37px;
	background-color: $footer_bg;
	text-align: center;

	.footer__copyright{
		color: $copyright;
		margin: 0px;

		a{
			color: $footer_link;

			&:hover{
				color: $footer_link_hover;
				text-decoration: none;
			}
		}
	}
}

.social__box{
	margin-top: 1rem;
	display: flex;
	justify-content: center;

	.social{
		width: 30px;
		height: 30px;
		margin-right: 0.5rem;

		a{
			@include border-radii(2px, 2px, 2px, 2px);
			background-color: $social_bg;
			width: 100%;
			height: 100%;
			display: flex;
		    align-items: center;
		    justify-content: center;
			transition: all 0.5s ease;

			i{
				color: #ffffff;
				transition: all 0.5s ease;
			}

			&:hover{
				background-color: #ffffff;
				text-decoration: none;

				i{
					color: $social_bg;
				}
			}
		}
	}
}

// blog page
.blog__banner-wrapper{
	height: 200px;
	position: relative;

	.blog__banner{
		background-image: url('../img/blog/blog_banner.jpg');
		background-size: cover;
		background-position: center center;
		height: 100%;
	}

	&:after{
	    position: absolute;
	    content: "";
	    z-index: -1;
	    left: 0;
	    top: auto;
	    bottom: 0px;
	    right: auto;
	    z-index: 2;
	    width: 100%;
	    height: 70px;
	    background: url('../img/img_edge.png');
	    background-size: cover;
	}
}

.article__wrapper{
	padding: 50px 0px;

	.article__box{
		margin-top: 40px;

		.article__title{
			font-size: 2rem;
			font-weight: bold;
		}

		p{
			text-indent: 3rem;
			margin-top: 2rem;
		}

		blockquote{
			text-align: center;
			&:after, &:before{
			    display: block;
			    color: $quote;
			    font-size: 5rem;
			    line-height: 0;
			}

			&:before{
				content: "\201C";
				margin-top: 5rem;
			}

			&:after{
				content: "\201D";
				margin-top: 3rem;
			}

			p{
				text-indent: 0rem;
				margin-top: 0rem;
				margin-bottom: 0rem;
				font-style: italic;
				font-weight: bold;

				span{
					font-style: normal;
					font-weight: normal;
				}
			}
		}

		ul{
			list-style: none;
			margin-top: 2rem;

			li{
				&:before{
					content: "\2022";
				  	color: $bullet;
				  	font-weight: bold;
				  	display: inline-block; 
				  	width: 1em;
				  	margin-left: -1em;
				  	vertical-align: 1px;
				}
			}
		}
	}


	.author__box{
		hr{
			border-top: solid 1px #ffdddd;
		}

		.auther__container{
			margin-top: 80px;
		}

		figure{
			text-align: center;

			.author__image{
				@include border-radii(50%, 50%, 50%, 50%);
				width: 200px;
				height: 200px;
			}
		}

		.author__detail{
			margin-top: 1rem;

			h2{
				font-size: 1.5rem;
				font-weight: bold;
				margin-bottom: 0rem;
			}

			strong{
				color: #ffdddd;
			}

			p{
				margin-top: 1rem;
			}
		}
	}


	.button__box{
		height: 42px;
		margin-top: 80px;

		.btn--prev{
			@include float-left;
		}

		.btn--next{
			@include float-right;
		}
	}
}







// Small devices (portrait phones, 375px and up)
@media (min-width: 375px){
	// banner
	.banner__wrapper{
		.banner{
			.banner__caption{
				top: 55%;

		    	h1{
					font-size: 3.9375rem;
				}
			}
		}
	}

	// gallery
	.gallery__wrapper{
		.gallery__box{
			
		}
	}

	.gallery__modal{
		.carousel-item{
			height: 240px;
		}
	}
}

// Small devices (portrait phones, 414px and up)
@media (min-width: 414px){
	// gallery
	.gallery__wrapper{
		.gallery__box{
			
		}
	}

	.gallery__modal{
		.carousel-item{
			height: 269px;
		}
	}
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){
	// banner
	.banner__wrapper{
		.banner{
			.banner__caption{
				top: 45%;
			}
		}
	}
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
	// header
	header{
		.header__bottom{
			background-color: $header_bar_bottom;
		}
	}

	// section heading
	.section__heading{
		.subtitle{
			font-size: 2rem;
		}

		h2{
			font-size: 3rem;
		}
	}

	// banner
	.banner__wrapper{
		.banner{
			.banner__caption{
				top: 55%;

		    	h1{
					font-size: 5.5rem;
				}
			}
		}
	}

	// about us
	.aboutus__wrapper{
		.aboutus__image{
			order: 1;
			-webkit-order: 1;
		}

		.aboutus__detail{
			order: 2;
			-webkit-order: 2;
		}
	}

	// gallery
	.gallery__wrapper{
		.gallery__box{
			
		}
	}

	.gallery__modal{
		.carousel-item{
			height: 344px;
		}
	}

	// testimonial
	.testimonial__wrapper{
		.tesimonial__list{
			.tesimonial__card{
				.testimonial__image{
					width: 300px;
					height: 300px;
				}

				.testimonial__detail{
					width: 80%;
				}
			}
		}
	}

	// blog
	.blog__wrapper{
		background-position: bottom 40px left 40px;
	}

	// blog page
	.blog__banner-wrapper{
		height: 300px;
		
		.blog__banner{

		}
	}
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

	// banner
	.banner__wrapper{
		.banner{
			.banner__caption{
				width: 70%;
			    top: 54%;
			    left: 35%;

				h1{
					font-size: 5rem;
				}
			}
		}
	}


	// gallery
	.gallery__wrapper{
		.gallery__box{
			
		}
	}

	.gallery__modal{
		.carousel-item{
			height: 565px;
		}
	}
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){

	// banner
	.banner__wrapper{
		.banner{
			.banner__caption{
				width: 50%;
			    top: 54%;
			    left: 27%;

				h1{
					font-size: 5.9375rem;
				}

				.button__box{
					margin-top: 60px;
				}
			}
		}
	}

	// about us
	.aboutus__wrapper{
		padding: 100px 0px;
	}

	// service
	.service__wrapper{
		padding: 100px 0px;
	}

	// gallery
	.gallery__wrapper{
		padding: 100px 0px;

		.gallery__box{
			margin: 15px 0px;
		}
	}

	.gallery__modal{
		.carousel-item{
			height: 565px;
		}
	}


	// testimonial
	.testimonial__wrapper{
		padding: 100px 0px;
	}


	// blog
	.blog__wrapper{
		padding: 100px 0px;

		.blog__card{
			margin-top: 0px;
		}

		&.blog__page{
			.blog__card{
				margin-top: 40px;
			}
		}
	}


	// contact
	.contact__wrapper{
		padding: 100px 0px;
	}

	.article__wrapper{
		padding: 100px 0px;
	}

}

// Extra large devices (large desktops, 1500px and up)
/*@media (min-width: 1500px){
	.section{
		min-height: unset;
	}
}*/